<div class="comment">
  <h4>
    <% user = User.find(comment.user_id) %>
    <% name = user.email[/[^@]+/] %>
    Comment by <%= name %>
  </h4>
  <div class="comment_post">
    <%= comment.body %>
  </div>
  <div class="comment_time">
    <p>
      <% current_post = Post.find(comment.parent_id) %>
      Commented <%= distance_of_time_in_words(current_post.created_at, comment.created_at) %> later
    </p>
  </div>
</div>
