<h5>
  Post a Comment
</h5>

<%= form_with model: [commentable, comment] do |f| %>
  <div class="comment_text_post"
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="comment_submit">
    <%= f.submit "Comment" %>
  </div>
<% end %>
