/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .navbar {
     display: flex;
 }


 .navbar-end {
     display: flex;
     border: groove;
     flex: 1;
     background-color:lightblue;
     height: 35px;
 }

 .buttons {
     display:flex;
     text-align: right;
     position: absolute;
     top: 2.25%;
     right: 0;
 }

 .buttons > * {
     margin-right: 16px;
 }
 .navbar-item {
     padding: 10px;
     right: 10%;
 }

 .title {
     display: inline-block;
     background-color:grey;
     border: inset;
 }

 .body {
     display: block;
     background-color: lightblue;
     width: 500px;
     height: 100px;
     padding: 20px;
     padding-left: 0px;
     border: ridge;
 }
